<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>index</key>
		<string>0</string>
		<key>name</key>
		<string>不限</string>
	</dict>
	<dict>
		<key>index</key>
		<string>1</string>
		<key>name</key>
		<string>夜店派对</string>
	</dict>
	<dict>
		<key>index</key>
		<string>2</string>
		<key>name</key>
		<string>家庭派对</string>
	</dict>
	<dict>
		<key>index</key>
		<string>3</string>
		<key>name</key>
		<string>派对、酒会</string>
	</dict>
    <dict>
        <key>index</key>
        <string>4</string>
        <key>name</key>
        <string>桌游、座谈、棋牌</string>
    </dict>
    <dict>
        <key>index</key>
        <string>5</string>
        <key>name</key>
        <string>KTV</string>
    </dict>
    <dict>
        <key>index</key>
        <string>6</string>
        <key>name</key>
        <string>户外烧烤</string>
    </dict>
    <dict>
        <key>index</key>
        <string>7</string>
        <key>name</key>
        <string>运动</string>
    </dict>
    <dict>
        <key>index</key>
        <string>8</string>
        <key>name</key>
        <string>郊游、徒步</string>
    </dict>
</array>
</plist>
